@charset: "utf-8";

@font-face {
	font-family: "Avo";
	src: url("../font/Avo.ttf");
}

footer .copyright {
	padding-top: 10px;
	user-select: none;
}

footer .copyright p {
	margin: 0px;
	text-align: center;
    font-family: "Avo";
    font-weight: bold;
    color: #9a0e14;
    font-size: 15px;
    line-height: 17px;
}

footer .copyright hr {
	height: 1px;
	background: rgb(128, 128, 128);
	margin-top: 6px;
	margin-bottom: 11px;
	padding: 0;
	max-width: 400px;
	width: 95%;
}