@charset "utf-8";

body{
	background: white;
}
/*----------------------------------------------------------------------------------*/
.pagetop-content {
	background: url('../img/banner.png')  0 -90px no-repeat;
	font-size: 15px;
	margin: 0;
	background:cover;
	background-size:100% 120%;
}

.pagetop-content .wrap {
	font-family: "Avo";
	padding: 80px 0px;
	
}

.pagetop-content hr {
	width: 60vw;	
	max-width: 250px;
	background: #9a0e14;
	height: 3px;

	
}
.pagetop-content .para-1  {

	line-height: 55px;
	font-size: 55px;
	color: white;
	text-align: left;
	
}

.pagetop-content .para-2  {
	margin: 0;
	line-height: 28px;
	font-size: 22px;
	color: white;
	text-align: left;
	padding: 50px;
}

section hr {
	
	max-width:125px;
	background: #9a0e14;
	height: 2px;
	margin-left: -10px;
	
}

.title{
	color: #9a0e14;
	font-size: 45px;	
}

.title1{
	color: #9a0e14;
	font-size: 15px;	
}

.col1{
	font-size: 17px;
	text-align: left;
}

.bnt-bt{
	font-size:16px;
	background-color:#9a0e14;
	text-align: center;
	color: white;
	
}

.tieude {
	font-size: 20px;
	font-weight: bold;
	color:#525252;
	
}

.example{
	background-color: white;
}

.example img {
	max-width: 420px;
	max-height: 250px;
}

.bg0{
	background-color: #e9e9e9;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.bg1{
	background-color: white;
}

.bg{
	border-left: 5px solid #9a0e14!important;
}

.bg2{
	background-color: #f1e538;
}

.bg3{
	background-color:white;
}

.bg4{
	background-color: #a3d749;
}

.bg5{
	background-color: white;
}

.bg6{
	background-color: #B4E1FF;
}

